name: Scrape DSHS vaccine data

on:
  schedule:
    - cron: "*/15 * * * *"

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run providers scraper
        run: python providers.py

      - name: Commit providers updates to GitHub
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update providers data
          file_pattern: "providers/latest.csv providers/snapshots/*.csv"

      - name: Run distribution scraper
        run: python distribution.py

      - name: Commit distribution updates to GitHub
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update distribution data
          file_pattern: "distribution/latest.csv distribution/snapshots/*.csv"

      - name: Run availability scraper
        run: python availability.py

      - name: Commit availability updates to GitHub
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update availability data
          file_pattern: "availability/latest.csv availability/snapshots/*.csv"
